<!doctype html>
<title>{% block title %}{% endblock %} - Cybertools</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
